<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    <h1>Reserve</h1>
    <div id="data"></div>

    <script>
        $.get("/birds", function(data) {
            console.log(data);
            $('#data').append(data.Lotopia);
            $('#data').append(data.Indigo);
        });
    </script>

</body>



</html>